table, th, td {
  border: 1px solid black;
}

td {
  width: 20vw;
  height: 20vw;
}

.marked-cell {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f1/Heart_coraz%C3%B3n.svg");
  opacity: 0.9;
}