html, body {
  font-family: 'Roboto', sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 10pt;
  padding: 2px;
}

td {
  width: 20vw;
  height: 20vw;
}

.marked-cell {
  background-image: url("heart.png");
  background-repeat: no-repeat;
  background-size: 18%;
  opacity: 0.9;
}